<div class="img-back">
    <header>
        <div class="title">
            <button class="btn-home" (click)="goHome()">
                <h1>
                    Biblioteca
                </h1>
            </button>
        </div>
        <nav class="nav--main">

            <a routerLink="/registrarse" >Registrarse</a>
            <a class="frame" routerLink="/iniciar">Iniciar Sesión</a>
        </nav>
    </header>

    <div class="cont--welcome">
        <section class="cont--welcome--text">
            <h2>Bienvenido a nuestra biblioteca</h2>
            <p>Creada con amor</p>

        </section>
    </div>
</div>