<main>
    <div class="cont">
        <section class="cont--two--section">
            <h3 class="cont--two--title">Historial de </h3>
        </section>
        <div class="cont--history">
            <div class="history">
                <div class="history--cont--title">
                    <h3 class="history--title">Préstamos</h3>
                </div>
                <div class="history--cont-content">                    
                    <p class="content-text">{{errorMessage}}</p>                    
                </div>
            </div>
        </div>
    </div>
</main>
