<main>
    <div class="cont">
        <section class="cont--two--section">
            <h3 class="cont--two--title">Nuestros libros disponibles</h3>
            <!--
                <div class="cont--search">
                    <input class="search--book" type="text" name="txtSearch" id="" placeholder="Buscar libro">
                </div>
            -->
        </section>
        <div class="cont--books">
            @for (book of books; track books) {
            <div class="book">
                <div class="book--content">
                    <h3> {{book.boo_name}}</h3>                    
                    <p>Autor: {{book.boo_autor}}</p>
                </div>
                <div class="book--img">
                    <img src="{{book.boo_image}}" alt="{{book.boo_name}}">                    
                </div>
                <div class="book__text">
                    <p>{{book.boo_description}}</p>
                    <div class="book__bts">                       
                    <button (click)="setAsideBook(book)" class="book__bt">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 5l0 14" />
                            <path d="M5 12l14 0" />
                          </svg>
                    </button>                    
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</main>
@if(isLendingBook){
    <div class="cont">
        <div class="cont__bt__cerrar">
            <input class="bt__cerrar" (click)="hideAsideBook()" type="button" value="Cerrar">
        </div>        
        <app-asidebook />
    </div>
}
