<main>
    <div class="cont">
        <section class="cont__biblioteca">
            <h2>Biblioteca Virtual:</h2>
            <p>Accede a una amplia colección de libros, revistas y recursos. <br>
                Disfruta de clásicos literarios y aventuras desde la comodidad de tu hogar. <br>
                ¡Explora, aprende y disfruta!</p>
        </section>

        <aside>
            <section class="cont__atribuciones">
                <h2>Atribuciones:</h2>
                <div>
                    <ul>
                        @if (atribuciones.length === 0) {
                        <li><a href="#">Ninguna por ahora</a></li>
                        }@else {
                        @for (at of atribuciones; track $index) {
                        <li>
                            <a href="{{at.url}}" target="_blank">{{at.texto}}</a>
                        </li>
                        }
                        }
                    </ul>
                </div>
            </section>
        </aside>
    </div>
</main>