$degradado_azul_top: #0D1039;
$degradado_azul_bot: #1B1E61;
$azul_oscuro: #000846;
$azul_claro: #242275;
$azul_titulo: #2F358B;
$blanco: #fff;

/* Items */
$fondoItem:#463DB2;
$bt_color: #D03333;
$bt_color_selected: #e94343;
$eliminar : #ff0000;

/* FUENTES */

$fuente:"Libre Baskerville", serif;