<div class="img-back">
    <header>
       <div class="title">
           <h1>Biblioteca</h1>
       </div>
       <nav class="nav--main">          
          <a routerLink="/adminbooks">Libros</a>
          <a routerLink="/usuario">Perfil</a>
          <a routerLink="/historybooks">Historial</a>
        <a class="frame" (click)="back()"> Cerrar Sesión</a>
           
       </nav>
   </header>

   <div class="cont--welcome">
       <section class="cont--welcome--text">
           <h2>Bienvenido a nuestra biblioteca</h2>
           <p>Creada con amor </p>

       </section>
   </div>
</div>